
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
  width:100%;
  min-width: $min-width;
  text-align:left;
  order: 1;
  -webkit-order: 1;
  margin: 0;
}

									/*header flex-grid*/
.header {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap;

  &-basketwrap {
	@extend %flex;
	align-items: stretch;
	justify-content: flex-end;

	@media screen and (min-width: 768px) {
	  width: 35%;

	  .basket {
		width: 67%;
	  }
	  .enter {
		width: 33%;
	  }
	}

	@media screen and (min-width: 992px){
	  width: 26%;

	  .basket {
		width: 68.5%;
	  }
	  .enter {
		width: 31.5%;
	  }
	}
  }

  @media screen and (max-width: 767px) {
	&__item {
	  width: 16.6%;
	  height: 40px;
	}

	&-menu{
	  width: 17%;
	  order: -2;
	}
	
	&-logo {
	  order: 3;
	  width: 100%;
	  height: 100%;
	}

	&-tel {
	  order: 2;
	}
	&-schedule {
	  width: 16.8%;
	  order: -1;
	}

	&-basketwrap {
	  width: 33%;

	  .basket {
		width: 50%;
	  }
	  .enter {
		width: 50%;
	  }
	}
  }


  @media screen and (min-width: 768px) and (max-width: 991px) {
	&-logo{
	  width: 30.5%;
	}

	&-search{
	  width: 32.0%;
	}

	&-menu{
	  width: 100%;
	}

	&-tel{
	  width: 21.5%;
	}

	&-schedule{
	  width: 16%;
	}
  }

  @media screen and (min-width: 992px){
	&-logo{
	  width: 23.5%;
	}

	&-search{
	  width: 41.5%;
	}

	&-basketwrap{
	  order: 1;
	}

	&-menu{
	  width: 74%;
	  align-self: center;
	}

	&-tel{
	  width: 22.5%;
	}

	&-schedule{
	  width: 12.5%;
	}
  }
}

									/*header*/
.header {
  position: relative;

  @media screen and (max-width: 767px) {
	background: #f0f1f6;
	font-size: 0;

	&-menu {
	  background: $lightblue;
	}

	&-search {
	background: url('../img/search.png') no-repeat 50% 50%;
  }

	&-tel {
	  background: url('../img/tel.png') no-repeat 50% 50%;
	}

	&-schedule {
	  background: url('../img/home.png') no-repeat 50% 50%;
	}

	.basket {
	  background: url('../img/basket.png') no-repeat 50% 50%;
	}
	.enter {
	  background: url('../img/man.png') no-repeat 50% 50%;
	}


  }

  @media screen and (min-width: 768px) {
	padding: 23px 17px 13px;

	&:before,
	&:after {
	  content: "";
	  position: absolute;
	  top: 57%;
	  left: 0;
	  right: 0;
	  height: 1px;
	  background: #dddfdf;
	  z-index: -1;
	}
  }

  @media screen and (min-width: 768px) {
	&:after {
	  top: 87%;
	}
  }

  @media screen and (min-width: 992px) {
	padding: 29px 13px 22px;

	&:before {
	  top: 53%;
	}
	&:after {
	  top: 83%;
	}
  }


  &-logo {
	@media screen and (max-width: 767px) {
	  padding: 13px 6%;
	  background: $white;
	}

	@media screen and (min-width: 992px) {
	  height: 75px;
	}
  }
}


												/*logo*/

.logo {
  @media screen and (min-width: 992px){
	margin-top: 5px;
	margin-bottom: 8px;
  }

  &__link {
	width: 86%;
	display: block;

	@media screen and (max-width: 767px) {
	  width: 94%;
	}

  	@media screen and (min-width: 992px) {
	  width: 89%;
  	}
  }

  &__img {
	width: 97%;
	height: auto;

	@media screen and (max-width: 767px) {
	width: 73%;
	height: auto;
	}
  }

  &__text {
	color: $grey;
	font-size: 12.7px;
	letter-spacing: 0.1px;
	padding: 4px 0 3px;

	@media screen and (min-width: 768px){
	  padding: 0;
	  letter-spacing: -0.1px;
	}

	@media screen and (min-width: 992px){
	  font-size: 14px;
	  padding: 3px 0;
	}
  }
}

												/*search*/
.search {

  @media screen and (max-width: 767px){
	@include radius(4px);

	display: none;
    background: $white;
  }

  @media screen and (min-width: 768px){
	width: 97.5%;
	margin: 0 auto;
  }

  @media screen and (min-width: 992px){
	width: 98.5%;
  }

  &__form {

	//@media screen and (min-width: 768px) {
	  @include radius(4px);

	  display: flex;
	  justify-content: center;
	  align-items: stretch;
	  border: 1px solid #b9b8bd;
	  height: 31px;
	//}

	@media screen and (min-width: 992px) {
	  height: 40px;
	}
  }

  &__input {

	//@media screen and (min-width: 768px) {
	  @include radius(4px);

	  font-size: 10px;
	  border: none;
	  width: 85%;
	  padding-left: 10px;
	  background: none;
	//}

    @media screen and (max-width: 767px) {
	  border: none;
	  font-size: 10px;
    }

	@media screen and (min-width: 768px) and (max-width: 1920px) {
	  font-size: calc(0.77rem + ((14 - 10) / (1920 - 768)) * 100vw - ((14 - 10) / (1920 - 768)) * 1400px);
	}

	@media screen and (min-width: 1920px) {
	  font-size: 14px;
	}
  }

	&__button {

	  @media screen and (max-width: 767px) {
		border: none;
		background: inherit;
	  }

	  //@media screen and (min-width: 768px) {
	  position: relative;
	  width: 15%;
	  border: none;
	  background: transparent;

	  &:before {
		content: "";
		position: absolute;
		top: 8px;
		right: 8px;
		width: 13px;
		height: 13px;
		background: url('../img/sprite.png') -89px -9px;
		//background: url('../img/search1.svg');

		@media screen and (min-width: 992px) {
		  width: 18px;
		  height: 18px;
		  background: url('../img/sprite.png') -110px -6px;
		}
	  }

	//}
  }

  &-active {
	@media screen and (max-width: 767px) {
		display: block;
		position: absolute;
		top: 45px;
		left: 10px;
		right: 10px;
	}
  }
}

												/*tel*/
.tel {
  transition: none;
  display: block;

  @media screen and (max-width: 767px) {
	width: 100%;
	height: 100%;
  }

  @media screen and (min-width: 768px) {
	color: inherit;
	width: 100%;
	text-align: right;
	font-size: 1.172em;   // 15.24px
	padding: 2px 0 0 0;
  }

  @media screen and (min-width: 992px){
	padding-right: 5px;
  }

  @media screen and (min-width: 1200px){
	padding-right: 0;
	  letter-spacing: 0.2px;
  }

  @media screen and (min-width: 768px) and (max-width: 1920px) {
  font-size: calc(1.172rem + ((22.2 - 15.24) / (1920 - 768)) * 100vw - ((22.2 - 15.24) / (1920 - 768)) * 1350px);
  }

  @media screen and (min-width: 1920px){
	margin-top: 10px;
	font-size: 1.7em;      //22.2px
  }
}


												/*schedule*/
.schedule {
  display: block;
 transition: font-size 0s ease;

  @media screen and (max-width: 767px) {
	width: 100%;
	height: 100%;
  }

  @media screen and (min-width: 992px){
	margin-top: 5px;
  }

  &__text {
	@media screen and (min-width: 768px) {
	  width: 100%;
	  text-align: right;
	  font-size: 0.77em;    // 10px
	}

	@media screen and (min-width: 768px) and (max-width: 1920px) {
	  font-size: calc(0.77rem + ((14 - 10) / (1920 - 768)) * 100vw - ((14 - 10) / (1920 - 768)) * 1400px);
	}

	@media screen and (min-width: 1920px){
	  font-size: 1.077em;       // 14px
	  line-height: 18px;
	}

	&-time {
	  color: $wheat;
	}

	&-delivery {
	  color: $blue;
	}
  }
}


										/*basket*/
.basket {

  @media screen and (min-width: 768px) and (max-width: 991px){
  	margin-bottom: 16px;
  }

  @media screen and (min-width: 992px){
	display: flex;
	align-items: center;
	padding-bottom: 10px;
  }

  &__item {
	display: block;
	transition: font-size 0s ease;

    @media screen and (max-width: 767px) {
	  width: 100%;
	  height: 100%;
    }

	@media screen and (min-width: 768px) {
	  text-transform: uppercase;
	  position: relative;
	  font-size: 0.85em; // 11px
	  color: $blue;
	  text-align: right;
	  padding-top: 4px;
	  width: 160px;
	  margin-left: auto;
	  font-family: 'pt_sansbold';

	  &-span {
		font-size: 13px;
	  }

	  &:before,
	  &:after {
		content: "";
		position: absolute;
		top: 0px;
		left: 5px;
		width: 20px;
		height: 17px;
		background: url('../img/sprite.png') -87px -23px;

		@media screen and (min-width: 992px){
		  background: url('../img/sprite.png') -128px -7px;
		  left: 0px;
		  width: 23px;
		  height: 24px;
		  top: -6px;
		}

		@media screen and (min-width: 1200px){
		  left: 8px;
		}
	  }

	  &:after {
		 @include radius(50%);

		 content: "10";
		 color: $white;
		 font-weight: bold;
		 left: 27px;
		 background: $wheat;
		 line-height: 19px;
		 text-align: center;

		 @media screen and (min-width: 992px){
		   left: 14%;
		   width: 22px;
		   height: 20px;
		   line-height: 24px;
		 }

		 @media screen and (min-width: 1200px){
		   left: 20%;
		 }
	  }
	}

    @media screen and (min-width: 768px) and (max-width: 1920px) {
	 font-size: calc(0.85rem + ((14 - 11) / (1920 - 768)) * 100vw - ((14 - 11) / (1920 - 768)) * 1700px);
    }

    @media screen and (min-width: 992px){
	  font-weight: bold;
	  width: 100%;
	  padding-top: 0;
    }

	@media screen and (min-width: 1200px){
	  letter-spacing: 1px;
  	}

	@media screen and (min-width: 1920px){
      font-size: 1.077em;      // 14px
	}
  }
}


									/*enter*/
.enter {
	transition: font-size 0s ease;
	padding-bottom: 10px;

  @media screen and (min-width: 992px){
	height: 100%;
	display: flex;
	align-items: center;
  }

  &__item{
	display: block;
	transition: font-size 0s ease;

    @media screen and (max-width: 767px) {
	  width: 100%;
	  height: 100%;
    }

	@media screen and (min-width: 768px) {
	  text-transform: uppercase;
	  font-family: 'pt_sansbold';
	  color: $blue;
	  text-align: right;
	  position: relative;
	  padding-top: 3px;
	  width: 65px;
	  margin-left: auto;

	  &:before {
		content: "";
		position: absolute;
		top: 0px;
		left: 2px;
		width: 17px;
		height: 15px;
		//background: url('../img/sprite.png') -63px -24px;
	    background: url('../img/yes.svg') no-repeat 90% 82%,
	  				url('../img/man2.svg') no-repeat;
	    background-size: 7px, 16px;

		@media screen and (min-width: 992px){
		  width: 19px;
		  height: 17px;
		  top: -3px;
		  left: 0;
		  background-position: 100% 82%, 100% 100%;
		  background-size: 8px, 19px;
		}
	  }
	}

	@media screen and (min-width: 992px){
	  font-size: 16px;
	  width: 80px;
	  padding-top: 0;
	}
  }
}

											/*menu*/

.menu {
  height: 50px;
  font-size: 13px;
  @extend %flex;
  justify-content: flex-start;


  @media screen and (min-width: 992px) {
	height: 60px;
  }

  &__open {
	display: none;
  }

  &__label {
  	display: block;
    height: 100%;
    width: 100%;

    @media screen and (min-width: 768px) {
	  width: 4%;
	}

	@media screen and (min-width: 1200px) {
	  width: 3%;
	}
  }

  &__opener {
	display: block;

	@media screen and (max-width: 767px) {
	  transition: none;

	  .fa-list-ul {
		display: none;
	  }
	}

	@media screen and (min-width: 768px) {
	  background: url("../img/icon.svg") no-repeat;
	  height: 10px;
	  margin-top: 13px;

	}

	@media screen and (min-width: 992px) {
	  margin-top: 18px;
	}

	

	&-span {
	   @media screen and (max-width: 767px) {
		 display: block;
		 width: 16px;
		 height: 2px;
		 background: $white;
		 margin: 20px auto 0;
		 position: relative;
		 transition: background 0.5s ease;

		 &:before,
		 &:after {
		   content: "";
		   position: absolute;
		   top: -6px;
		   left: 0px;
		   width: 16px;
		   height: 2px;
		   background: $white;
		   transition: transform 0.5s ease;
		 }
		 &:after {
		   top: 6px;
		 }
	   }
	}
  }

  &__list {
	list-style: none;
	font-family: 'pt_sansbold';

	@media screen and (max-width: 767px) {
	  @include shadow(2px 3px 1px rgba(108,104,104,.33));
	  @include radius(3px);

	  background: $white;
	  position: absolute;
	  left: 0;
	  top: 40px;
	  min-width: 220px;
	  width: 40%;
	  z-index: 10;
	  border: 1px solid #dddfdf;
  	  padding: 17px 0 20px;
  	  transform: translateX(-310px);
  	  transition: transform 0.5s ease;
	}

	@media screen and (min-width: 768px) {
		width: 96%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
  		align-items:  center;
  		padding-top: 2px;
	}

	@media screen and (min-width: 992px) {
	  width: 95%;
	}
	@media screen and (min-width: 1200px) {
	  width: 89.5%;
	  letter-spacing: 0.7px;
	}
  }

  &__li {
	position: relative;
	height: inherit;

	@media screen and (max-width: 767px) {
	  display: block;
	}
  }

  &__link {
	display: block;
	color: inherit;
	height: 100%;
	font-weight: bold;
	padding: 10px 20px 10px 0;
	position: relative;
	text-transform: uppercase;
	font-size: 0.96em;      // 12.5px

	@media screen and (max-width: 767px) {
	  padding: 15px 20px 15px 20px;
	}

	@media screen and (min-width: 992px){
	  padding-top: 16px;
	}

	@media screen and (min-width: 768px){
		&:after {
		  display: none;
		  content: "";
		  position: absolute;
		  top: 35%;
		  transform: translateY(-65%);
		  right: 0px;
		  width: 9px;
		  height: 8px;
		  background: url('../img/sprite.png') -111px -31px;

		  @media screen and (min-width: 992px){
	  		top: 50%;
			}
		}

		&:hover:after {
		  display: block;
		}
	}

	@media screen and (min-width: 992px) and (max-width: 1200px){
	  padding-right: 10px;
	}

	@media screen and (min-width: 992px) and (max-width: 1920px) {
	  font-size: calc(0.96em + ((15 - 13) / (1920 - 992)) * 100vw - ((15 - 13) / (1920 - 992)) *1000px);
	}

	@media screen and (min-width: 1920px) {
		font-size: 1.15em;     // 15px
	}
  }
}

input[type="checkbox"]:checked + .menu__label ~ .menu__list {
	@media screen and (max-width: 767px) {
		transform: translateX(0);
	}
}
input[type="checkbox"]:checked + .menu__label .menu__opener-span {
	@media screen and (max-width: 767px) {
		background: $lightblue;
	}
}
input[type="checkbox"]:checked + .menu__label .menu__opener-span:before {
	@media screen and (max-width: 767px) {
		transform: rotate(45deg) translate(3px, 5px);
		width: 20px;
	}
}
input[type="checkbox"]:checked + .menu__label .menu__opener-span:after {
	@media screen and (max-width: 767px) {
		transform: rotate(-45deg) translate(3px, -6px);
		width: 20px;
	}
}


.menu__list .menu__li:hover>.submenu {
  display: block;
}

.menu__list>.menu__li:hover {
	@media screen and (max-width: 767px){
  		background: #e9e9ea;
	}
}

											/*submenu*/

.submenu {
  display: none;
  background: $white;
  font-family: 'pt_sansregular';
  z-index: 5;

  @media screen and (max-width: 767px) {
	@include shadow(0px 1px 1px rgba(108,104,104,.20));

  	background: #FAF7FB;
  	position:relative;
  	width: 100%;
  }

  @media screen and (min-width: 768px) {
	@include shadow(2px 3px 1px rgba(108,104,104,.33));
	@include radius(3px);

	position: absolute;
    top: 48px;
    left: -28px;
    width: 245px;
    border: 1px solid #dddfdf;
    padding: 17px 0 20px;
  }

  @media screen and (min-width: 992px) {
	left: -41px;
	  top: 56px;
  }

  &__li {
	list-style: none;
	position: relative;

	&:after {
	  display: none;
	  content: "";
	  position: absolute;
	  top: 15px;
	  right: 15px;
	  width: 9px;
	  height: 8px;
	  background: url('../img/sprite.png') -111px -31px;

	  @media screen and (min-width: 768px) {
	  	top: 0;
	  	transform: rotate(-90deg);
	  	padding-right: 30px;
	  	right: 5px;
	  }
	}

	&:hover:after,
	&_active:after {
	  display: block;
	}

	&:hover {
	  background: #e9e9ea;
	}
  }

  &__link {
	display: block;
	font-size: 15px;
	color: #666666;
	padding: 7px 0 7px 30px;
	position: relative;
	line-height: 16px;

	@media screen and (max-width: 767px) {
  	  position:relative;
  	}

	&:before {
	  @include radius(3px);

	  content: "";
	  position: absolute;
	  top: 9px;
	  left: 15px;
	  width: 6px;
	  height: 6px;
	  background: $white;
	  border: 1px solid $wheat;
	}

	&:hover:before {
	  background: #e9e9ea;
	}
  }
}

.submenu__second-inner {
  display: none;

	@media screen and (max-width: 767px) {
	  @include shadow(0px 1px 1px rgba(108,104,104,.20));

	  background: $white;
	}

    @media screen and (min-width: 768px) {
     top: -14px;
     left: 101%;
    }

  .submenu__li-header {
	display: block;
	font-size: 16px;
	font-family: "pt_sansbold";
	color: $wheat;
	padding: 5px 0 9px 15px;
	letter-spacing: -0.5px;
	text-transform: uppercase;
  }
}

 @media screen and (max-width: 767px) {
	.submenu__second-inner .submenu__li {
		padding-left: 15px;
	}
}
.submenu__li:hover .submenu__second-inner{
  display: block;
}
.submenu__second-inner .submenu__li:hover:after {
  display: none;
}


body {
  //overflow-y: hidden;
}



